header{
    background-color: #0077b3;
}
.flex-container{
    display: flex;
}
.index{
    margin-left: 600px;
}
.flex-item2{
    margin-left: 220px;
    margin-top: -71px;
}
input[type=radio]
{
   margin-top: 40px;
}
.class{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin-left: 190px;
    color: white;
    
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 20px;
}
input[type=text1]{
   width: 220px;
   height: 40px;
   margin-left:180px;
   border: none;
}
input[type=text2]{
    width: 455px;
    border: none;
    height: 40px;
    margin-top:20px;
    margin-left:180px;
}
#cam{
    margin-top: 40px;
    margin-left: 180px;
}
.box{
    margin-left: 180px;
}
.box select{
    background-color: bisque;
    border: none;
    color:rgb(8, 8, 8);
    padding: 10px;
    width: 100px;
}
body{
    background-color: #e6e6e6;
}